# Sécurité
SECRET_KEY=votre-cle-secrete-ici

# Base de données (PostgreSQL pour la prod)
DATABASE_URL=postgresql://user:password@host:port/dbname

# Configuration Email (Pour les notifications SaaS)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=votre-email@gmail.com
MAIL_PASSWORD=votre-mot-de-passe-d-application

# Expéditeur par défaut
MAIL_DEFAULT_SENDER=noreply@pharma-cloud.com
